
{% extends 'layouts/base.html.twig' %}

{% block title %}
     {{ pin.title }} | Pinterest
{% endblock %}

{% block body %}
<div class="row">
     <div class="col-md-6 mx-auto">
          <article class="pin bg-white rounded shadow">
               <div class="mw-100 overflow-hidden rounded-top">
                         <img class="w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin): asset('build/images/placeholder.png'))|imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}">
               </div>
               <div class="p-3">
                    <div class="title-like">
                         <h1 class="h5">{{pin.title}}</h1>
                         {% if app.user%}
                         <div>

                             <div id="likes">
                                 {% if app.user in pin.likes %}
                                     <a href="{{ path('add_like', {id:pin.id}) }}" class="like">
                                         <svg id="heart-icon-active" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                         </svg>
                                     </a>
                                 {% else %}
                                     <a href="{{ path('add_like', {id:pin.id}) }}" class="like">
                                         <svg id="heart-icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                         </svg>
                                     </a>
                                 {% endif %}
                                 <span>{{ pin.likes.count }}</span>
                             </div>
                         </div>
                         {% endif %}
                    </div>
                    <p class="text-muted">
                         <small>Submitted <time datetime="{{ pin.createdAt|date("Y-m-d H:i:s") }}">{{ pin.createdAt|ago}}</time> by <a href="">{{pin.user.fullName}}</a></small>
                    </p>
                    <p class="text-break">{{ pin.description}}</p>


                    <div class="pt-3">
                         {% if  app.user == pin.user %}

                              <a href="{{ path('app_pins_edit', {id:pin.id}) }}" class="btn btn-light" >Edit Pin</a>
                              <a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-pin-delete-form').submit()" class="btn btn-light">Delete Pin</a>
                         {% endif %}
                    </div>
                  <div>
                      <hr>
                      {{ form_start(comForm) }}
                      {{ form_widget(comForm) }}
                      <button class="px-5 py-2">
                          {{ button_label|default('Save') }}
                      </button>
                      {{ form_end(comForm) }}
                      {#<form class="form-inline">
                          <div class="mb-2">
                          </div>
                          <div class="mb-2">
                              <button type="submit" value="{{ submitButtonText|default('Create com') }}" formnovalidate class="btn btn-primary"></button>
                          </div>
                      </form>#}
                      <hr>
                      <p class="text-muted">
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab alias aliquam, architecto cupiditate dolor eos exercitationem !<br>
                          <small>Submitted <time datetime="{{ pin.createdAt|date("Y-m-d H:i:s") }}">{{ pin.createdAt|ago}}</time> by <a href="">{{pin.user.fullName}}</a></small>
                      </p>
                  </div>
               </div>
          </article>


          <form id="js-pin-delete-form" action="{{ path('app_pins_delete', {id:pin.id}) }}" method="post" style="display: none">
               <input type="hidden" name="csrf_token" value="{{ csrf_token('pins_deletion_' ~ pin.id) }}">
               <input type="hidden" name="_method" value="DELETE">
          </form>
     </div>
</div>

{% endblock %}