{% extends 'layouts/base.html.twig' %}
{% block title %}Register{% endblock %}

{% block body %}
<div class="col-md-6 mx-auto">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}<br><br>
            <a href="{{ path('app_logout') }}" class="btn btn-danger" >Logout</a>

        </div>
    {% endif %}
    {% if  app.user == false %}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.first_name) }}
    {{ form_row(registrationForm.last_name) }}
    {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
    <div class="text-center">
        <button type="submit" class="btn btn-lg btn-primary mt-2 justify-center">Register</button>
        </div>
    {{ form_end(registrationForm) }}
    {% endif %}
</div>
{% endblock %}
