{% extends 'layouts/base.html.twig' %}
{% set current_params = app.request.get('_route_params') %}



{% block body %}
<title>Edit User</title>
    <div class="text-center mb-4">
        <h1 class="mb-4 text-center text-muted">Edit your profile</h1>
        <a class="btn btn-light text-center" href="{{ path('user_show', {id:user.id}) }}">Back to your profile </a>
    </div>
<div class="row">
    <div class="col-md-6 mx-auto">
         {{ form_start(form) }}
            {{ form_label(form.firstName) }}
            {{ form_widget(form.firstName) }}

            {{ form_label(form.lastName) }}
            {{ form_widget(form.lastName) }}

            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}

            <div class="inline mt-3">
                {{ form_widget(form.Update) }}

                 <a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('js-user-delete-form').submit()" class="btn btn-outline-danger">Delete your account</a>
            </div>
            {{ form_end(form) }}
    </div>
</div>
 <form id="js-user-delete-form" action="{{ path('user_delete', {id:user.id}) }}" method="post" style="display: none">
               <input type="hidden" name="csrf_token" value="{{ csrf_token('delete' ~ user.id) }}">
               <input type="hidden" name="_method" value="DELETE">
</form>
{% endblock %}
