{% extends 'layouts/base.html.twig' %}
{% set current_params = app.request.get('_route_params') %}

{% block title %}Pinterest{% endblock %}

{% block body %}

    {% if user.pins|length > 0 %}
        <div class="text-center mb-4">
            <h1 class="mb-4 text-muted">Profile of {{ user.firstName }} ({{ pluralize(user.pins|length, 'Pin') }})</h1>
            {% if  app.user == user %}
                <a href="{{ path('user_edit', {id:user.id}) }}" class="btn btn-light" >Edit Profile</a>
            {% endif %}
        </div>
        {% for row in user.pins|batch(3) %}
            <div class="row mb-5">

                {% for pin in row %}
                    <div class="col-md-4">
                        <article class="pin bg-white rounded shadow">

                            <div class="mw-100 overflow-hidden rounded-top">
                                <a href="{{ path('app_pin_show', {id: pin.id}) }}">
                                    <img class="w-100" src="{{ (pin.imageName ? vich_uploader_asset(pin): asset('build/images/placeholder.png'))|imagine_filter('squared_thumbnail_medium') }}" alt="{{ pin.title }}">
                                </a>
                            </div>
                            <div class="title-like">
                                <h2 class="h5 ps-3 pt-3"><a class="text-decoration-none link-secondary" href="{{ path('app_pin_show', {id: pin.id}) }}">{{pin.title}}</a></h2>
                                {% if app.user%}
                                    <div class="margin">

                                        <div id="likes">
                                            {% if app.user in pin.likes %}
                                                <a href="{{ path('add_like', {id:pin.id}) }}" class="like">
                                                    <svg id="heart-icon-active" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                                    </svg>
                                                </a>
                                            {% else %}
                                                <a href="{{ path('add_like', {id:pin.id}) }}" class="like">
                                                    <svg id="heart-icon" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24">
                                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                                    </svg>
                                                </a>
                                            {% endif %}
                                            <span>{{ pin.likes.count }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <!--<p>{{ pin.description|u.truncate(28, '...', false)}}</p>-->
                            <p class="text-muted ps-3 pb-3"><small>Submitted by <a href="">{{ pin.user.fullName}}</a> il y a {{ pin.createdAt|ago}}</small></p>
                        </article>
                    </div>
                {% endfor %}

            </div>
        {% endfor %}


    {% else %}
        <p class="mt-5 h1 text-center">No pins yet. <a href="{{ path('app_pins_create') }}">Be the first!</a></p>
    {% endif %}


{#<title>User</title>

    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}#}
{% endblock %}
